.bg-background {
  margin-top: 57px;
  margin-left: 46px;
  height: 80vh;
  width: 90vw;
  border-radius: 70px;
  /* background: linear-gradient(145deg, #cfdef1, #cfdef1);
  box-shadow: 9px 9px 13px #8f98a7;
  border-radius: 65px; */

  background: #cfdef1;
  box-shadow: 5px 10px #888888;
  box-shadow: inset 14px 14px 28px #a0abbb, inset -14px -14px 28px #e2f1ff;
}
.the_odd {
  border-left: 1px solid grey;
  height: 550px;
  position: absolute;
  left: 40%;
  margin-bottom: 50px;
  margin-left: -3px;
  top: 0;
}
.odd2 {
  margin-left: -3px;
}
